#outcome {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid $dark;
    border-collapse: collapse;    
    caption {
        border: 1px solid $dark;
        border-bottom: none;
        padding: .5rem;
    }
    thead {
        border: 1px solid $dark;
        border-bottom: none; 
        th {
            background-color: $neutral;
            padding: .5rem;
            text-align: left;
            &:first-child {
                width:10%;
                border-right: 1px solid $dark;
            }
        }
    }
    td  { 
        &:nth-child(2){
            width: 25%;
        }
        &:nth-child(4) {
            width: 30%;
            color: red;
        }
        padding: .5rem 1rem .5rem .5rem;
        border-top: 1px solid $dark;
        border-collapse: collapse
    }
    tfoot {
        text-align: center;
        background-color: $dark;
        color: $white;
    }
}
.swoosh {
    animation: swoosh 1s;
}
@keyframes swoosh {
     0% {
         opacity: 1;
     }
     50% {
         opacity: .5;
     }
     90% {
         opacity: 0;
     }
     100% {
         display: none;
     }
 }