.the_awards {
    p {
        margin: 0;
        border-radius: 5px 5px 0 0;
        padding: .35rem;
        background-color: $dark;
        color: $white;
        text-align: center;
    }
    .award_selector{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid $dark;
        padding: .5rem .5rem 1.5rem .5rem;
        .best_novels {
            margin-top: -.5rem;
            margin-left: 1rem;
            width: 30%;
            background-color: $sand;
            padding: .5rem;
            h3 {
                margin: 0 0 1rem 0;
            }
        }
        button { 
            width: 48%;
            margin-top: .5rem;
            padding: .5rem;
            border: 1px solid grey;
            color: grey;
            border-radius: 3px;
            &.has_data {
                border: 1px solid darkcyan;
                background-color: $red;
                color: black;
                &:hover {
                    background-color: $orange;
                }
            
            }
        }
    }
}