// header {
//     border: 1px solid aqua;
//     background-color: aquamarine;
//     height: 65vh;
//     margin: 0;
//     .hero {
//         h1 {
//             color: white;
//             font-size: 3rem;
//             margin-top: 0;
//         }
//         p {
//             margin-top: -2.5rem;
//             color: whitesmoke
//         }
//         width: 25rem;
//         height: 15rem;
//         margin: 1rem;
//         border: 6px solid white;
//         padding-bottom: 3rem;
//     }
// }

/* 
Mini-project sepcific styles.

This is both an aide memoire and reference stylesheet. 

Credit where credit is due: based on a tutorial by Kevin Powell https://youtu.be/PKVKwluRTfo
*/

body {
    /* overflow-x: hidden; */
}

header { 
    border: 1px solid red;
    /* 
    Using calc() to create a simple, responsive container.
    The conatiner is set to the maximum desirable width.
    The margin centres the container on the viewport width.
    It then caculates the contents to be 100% of the width of the container,
    less 2rem side margin. 
    */
    // height: 50vh;
    max-width: 80vw;
    margin: -1rem auto 0;
    width: calc(100vw - 2rem);
    figure { 
        img {
            /* 
            Setting the image to be full width
            in respect to iteself and the viewport 
            will make it resposnive. The calc() margin pulls
            it out of the container, left and back in again
            making the image flexibly full width.
            */
            display: block; //position: absolute; top: 0; left: 0;
            width: 100%;
            max-width: 100vw;
            width: 100vw;
            margin: 0 calc( -50vw + 50% );
            max-height: 66vh;
            object-fit: cover;
        }
        figcaption { 
            background-color: rgba(0,0,0,.33);
            position: absolute; 
            top: calc(21vh);
            z-index: 10;
            // display: flex;
            // align-items: center;
            // justify-items: center;
            width: calc(20vw);
            height: calc(20vh);
            border: 6px solid white;
            padding-bottom: 3rem;
            h1 {
                color:white;
                font-size: 3rem;
                margin-top: 0;
            }
            // p {
            //     margin-top: -2.5rem;
            //     color: white
            // }
        }
    }
}