.site_introduction {
    margin: .2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 10rem);
    grid-column-gap: 5px;
    grid-template-areas:
    "intro intro quote"
    "intro intro quote"
    "history history quote"
    "history history quote";
    .theme_intro {
        grid-area: intro;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 1rem;
        background-color: $moon-sand;
        .theme_title {
            margin-top: 0;
            flex: 0 0 6em;
            margin-right: 3rem;
        }
    }
    .recent_history {
        padding: 1rem;
        grid-area: history;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        background-color: $xtra-light-moon-sand;
        h3 {
            margin-top: 0;
            flex: 0 0 6em;
            margin-right: 3rem;
        }
        img { 
            order: 3;
            height: 100%;
            display: block; 
        }
        .publication { 

            margin-right: 2rem;

            h4 {
                margin-top: 0;
            }
            .publication_meta {
                margin-top: 1rem;
            }
            .awards_meta {
                display: flex;
                span {
                    display: block;
                }
                flex-direction: column;
            }
        }
    }
    .intro_quote {
        grid-area: quote;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        justify-items: center;
        blockquote {
            border-bottom: 12px solid $neutral;
            padding-left: 1rem;
            font-size: 128%;
            padding-top: 2rem;
            text-indent: -2rem;
            border-top: 12px solid $neutral;
            q {
                margin-left: 1rem;
            }
            p {
                margin-left: 2rem;
                margin-bottom: 2rem;
                padding-top: 1rem;
            }
        }
    }
}
