@import "./vendor/normalize";
@import "./modules/colours";
@import "./modules/typography";

body {
    background-color: $white;
}
h1, h2, h3 {
    font-family: $heading;
}
p {
    margin: 0;
    font-family: $body;
}


//@import "./partials/header";
@import "./partials/tables";