$white: rgba(250,250,250,1);
$oil: rgba(49,51,48,1);
$neutral: rgba(192,192,192,1);
$dark: rgba(128,128,128,1);
$blue-grey: rgba(0,48,73,1);
$red: rgba(214,40,40,1);
$orange: rgba(247,127,0,1);
$gold: rgba(252,191,73,1);
$dark-gold: rgba(189,143,55,1);
$light-gold:rgba(245,225,186,1);
$sand: rgba(234,226,183,1);
$light-sand: rgba(254,246,203,1);
