@import url('https://fonts.googleapis.com/css?family=Bitter|Saira+Semi+Condensed&display=swap');

$root-size: 16px;

$heading: "Saira Semi Condensed", sans-serif;

$body: "Bitter", serif;

h1, h2, h3 {
    @include headings();
}
p, th, th, blockquote  {
    @include body();
}

h4 {
    font-family: $body;
    font-size: 128%;
    margin-bottom: -1rem;
}

a {
    text-decoration: none;
}